.products-main{
    border: 1px solid lightgray;
    border-radius: .5rem;
    padding: 0rem 1rem;
    background-color: white;
}

.product-heading{
    font-size: 1.5rem;
    font-weight: 500;
}
.product-para{
    color: gray;
    margin-top: -1.5rem;
}

.product-nav{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    font-weight: 500;
    color: grey;
    padding: 0rem 2rem;
}
.product-nav:hover{
    background-color: whitesmoke;
}

.products-card{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 1rem;
    align-items: center;
    border-top: 1px solid lightgray;
}
.products-card:hover{
    background-color: whitesmoke;
}

.headingName{ margin-left: 6rem }
.headingStatus { margin-left: 17rem }
.headingPrice { margin-left: 6rem }
.headingSales {margin-left: 5rem }
.headingCreated {margin-left: 3rem } 

.prdouct-img{
    height: 4rem;
    width: 4.2rem;
    border-radius: 1rem;
}
.product-name{
    width: 18rem;
    font-weight: 600;
}
.product-status{
    border: 1px solid lightgray;
    font-size: small;
    border-radius: 2rem;
    padding: .2rem 1rem;
    margin-right: 4rem;
}
.product-price{
    width: 4rem;
    margin-right: 3rem;
}
.product-sales{
    width: 2.5rem;
    margin-right: 4rem;
}
.product-action{
    margin: 0rem 3rem;
    cursor: pointer;
}
.actions{
    border: 1px solid lightgray;
  border-radius: .5rem;
  background-color: white;
  padding: 0rem 1rem;
  position: absolute;
  margin: 9rem 0rem 0rem 65rem;
}

.btn{
 border: none;
 background-color: white;
 font-weight: 600;
 margin: 1rem 1rem;
 cursor: pointer;
}

.product-footer{
   display: flex;
   flex-wrap: wrap;
   align-items: baseline;
   justify-content: space-between; 
}
.footer-para{
    font-size: small;
    color: gray;
}
.span{
    font-weight: 600;
    margin: 1rem -.001rem;
}

 @media screen and (max-width: 768px) {
    .products-main{
        padding: 0rem 2rem;
    }
    .prdouct-img{
        display: none;
    }
    .product-name{
        width: 10%;
    }
    .product-status{
        margin: 0rem 1rem;
    }
    .product-price{
        display: none;
    }
    .product-sales{
        display: none;
    }
    .product-create{
        display: none;
    }
    .product-action{
        margin: 0rem 1rem;
    }
    .product-nav{
        /* align-items: center; */
        margin: 0rem;
        padding: 0rem 0rem;
    }
    .headingName{ margin-left: 1rem}
    .headingStatus { margin-left: 3rem }
    .headingPrice { display: none; }
    .headingSales { display: none;}
    .headingCreated {display: none; }
    .actions{
      margin: 9rem 0rem 0rem 15rem;
    } 
   }